@value makerGreen,makerLightGrey from './../../common/colors.css';
@value mediaQuery from './../../common/size.css';

.editor {
  flex-basis: 50%;
  padding: 0.5em 2em;
  border-right: 1px solid makerLightGrey;
  overflow-y: auto;
}
.title {
  text-align: center;
  color: makerGreen;
  font-size: 1.3em;
}

@media screen and (max-width: mediaQuery) {
  .editor {
    border-right: 0;
  }
}
