@value makerGreen,makerWhite,makerLightGrey from './../../common/colors.css';

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 23rem;
  background: makerWhite;
}
img {
  width: 2.7rem;
}
.header {
  width: 100%;
  height: 4rem;
  background: makerGreen;
  text-align: center;
  padding: 7px 0;
}
.header_txt {
  font-size: 1.7rem;
  color: makerWhite;
  font-weight: bold;
}
.loginBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10px;
}
h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.btn {
  width: 100%;
  border-radius: 5rem;
  border: 2px solid makerGreen;
  background: makerWhite;
  padding: 0.5rem;
  margin-top: 10px;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  background: makerGreen;
  font-size: 0.8rem;
  color: makerWhite;
}
