@value makerGreen,makerWhite,makerLightGrey from './../../common/colors.css';

.loginbox {
  width: 25rem;
  background: makerWhite;
}

img {
  width: 2.7rem;
}

.loginBody {
  padding: 20px 10px;
}
h2 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
ul li {
  list-style: none;
}
.btn {
  width: 100%;
  border-radius: 5rem;
  border: 2px solid makerGreen;
  background: makerWhite;
  padding: 0.5rem;
  margin-top: 10px;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
